@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Judson:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: url(imagemfundo.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.cabecalho {
    font-display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabealho-menu-item {
    font-family: 'Judson', serif;
    color: #1b1a1a;
    padding: 15px 30px;
    font-size: 32px;
    font-weight: 400;
    border: 2px solid rgb(161, 91, 91);
    background-color: white;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
  
}


.conteudo {
    margin-bottom: 350px;

}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-titulo {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    position: relative;
    left: 650px;
    bottom: -80px;
    text-align: center;
    color: #6A6866;
    border-bottom: 0.4px solid #948F8F;
    width: 100%;
}


.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-imagem {
    padding-top: 48px;
    margin-bottom: 16px;
}

.rodape {
    padding: 32px;
}

.rodape-imagem {
    position: relative;
    left: 775px;
    bottom: 220px;

}